<div class="contacts">
    <h1>Contacts</h1>

    <p class="search-box">
        <input type="text" placeholder="Search..." ng-model="contactsController.search" />
    </p>
    <ul class="contacts-list">
        <li class="card" ng-repeat="contact in filtered = (contactsController.contacts |filter:contactsController.search)">
            <h3 ng-click="contactsController.detail(contact.id)">
                {{ ::contact.first_name }} {{ ::contact.last_name }}

            </h3>
            <a href="#" ui-sref='detail({ id:contact.id })'>Detail</a>
            <robo-hash email='::contact.email' width='50' height='50'></robo-hash>
            <p>
                {{ ::contact.phone }}<br>
                <a href="mailto:{{ ::contact.email }}">{{ ::contact.email }}</a><br>

            </p>
        </li>
    </ul>
    <p ng-if="filtered.length == 0">
        No matches.
    </p>

</div>
