<div class="contacts">
    <h1>Contacts</h1>

    <p class="search-box">
        <input type="text" placeholder="Search..." ng-model="contactsController.search" />
    </p>
    <ul class="contacts-list">
        <li class="card" ng-repeat="contact in filtered = (contactsController.contacts |filter:contactsController.search)">
            <h3>
                {{ ::contact.first_name }} {{ ::contact.last_name }}
            </h3>
            <p>
                {{ ::contact.phone }}<br>
                <a href="mailto:{{ ::contact.email }}">{{ ::contact.email }}</a><br>

            </p>
        </li>
    </ul>
    <p ng-if="filtered.length == 0">
        No matches.
    </p>

</div>
