<div class="contacts">
    <h1>
        Contacts
        <button ui-sref="app.contactDetail">New</button>
    </h1>

    <p class="search-box">
        <input type="text" placeholder="Search&hellip;" ng-model="contactListController.search" />
    </p>

    <ul class="contacts-list">
        <li class="card" ng-repeat="contact in filtered = (contactListController._contacts | filter:contactListController.search)">
            <h3>
                <robo-hash email='::contact.email' width='70' height='70'></robo-hash>
                {{ ::contact.first_name }} <br>{{ ::contact.last_name }}
            </h3>
            <p>
                Phone: <br>
                {{ ::contact.phone }}<br>
                E-Mail:<br>
                <a href="mailto:{{ ::contact.email }}">{{ ::contact.email }}</a>

            </p>
            <p class="footer">
                <a href="#" ui-sref="app.contactDetail({ id:contact.id })">Detail</a>
            </p>
        </li>
    </ul>

    <p ng-if="filtered.length == 0">
        No matches.
    </p>
</div>
