<div class="side">
    <a class="button button-back" ui-sref="contactList">Back</a>
</div>

<div class="contact-detail">
        <robo-hash email="::contactDetailController.contact.email" width="100" height="100"></robo-hash>

    <form action="#" name="contactForm" novalidate ng-submit="contactDetailController.onFormSubmit($event)">
        <p>
            <label for="">Name</label><br/>
            <input type="text" name="firstName" ng-model="contactDetailController.contact.first_name" required>
        </p>

        <p>
            <div ng-show="contactForm.firstName.$error.required ||  contactForm.firstName.$error.touched">
                <span>First Name required</span>
            </div>
        </p>

        <p>
            <label for="">Last name</label><br/>
            <input type="text" name="lastName"  ng-model="contactDetailController.contact.last_name" required>
            <div ng-show="contactForm.lastName.$error.required || contactForm.lastName.$error.touched">
                <span >Last name required</span>
            </div>
        </p>

        <p>
            <label for="">Email</label><br/>
            <input type="email" name='email' ng-model="contactDetailController.contact.email" required>
            <div ng-show="contactForm.email.$error.required || contactForm.email.$error.touched">
                <span >Email required</span>
            </div>
        </p>

        <p>
            <input type="submit" value="Save" ng-disabled="contactForm.$invalid">
        </p>
    </form>
</div>
