* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;

}

h1, 
h2,
h3 {
    font-weight: 700;
}

input {
    padding: .3em;
    font-weight: 400;
}

a {
    color: rgb(28, 83, 177);
}

.main {
    padding: 20px;
}

.page-header {
    padding: 1em;
    background: rgb(28, 83, 177) url("../images/ti8m-logo-white.svg") no-repeat 20px 20px;
    background-size: auto 60px;

    height: 100px;
}

.contacts-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.card {
    border-radius: 3px;
    padding: 15px;
    margin: 0 15px 15px 0;
    float: left;
    width: 30%;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
    overflow: hidden;
}

.card h3 {
    font-size: 1em;
    font-weight: 300;
    margin: -15px;
    padding: 10px 15px;
    margin-bottom: 15px;
    background-color: rgb(0, 158, 140);
    color: #fff;
}

.card a {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}


.robo-spin{
    animation: rotateplane 1.2s infinite linear;
}

@keyframes rotateplane {
  0% { 
    transform: rotateY(0deg) ;
    -webkit-transform:  rotateY(0deg)  
  } 50% { 
    transform:  rotateY(-180.1deg) ;
    -webkit-transform:  rotateY(-180.1deg) 
  } 100% { 
    transform:  rotateY(-180deg) ;
    -webkit-transform:  rotateY(-180deg) ;
  }
}
