* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
}

h1, 
h2,
h3 {
    font-weight: 700;
}

input {
    padding: .3em;
    font-weight: 400;
}

input[type="submit"],
button,
a.button {
    text-decoration: none;
    border-radius: 2px;
    background-color:  rgba(28, 83, 177, .8);
    text-align: center;
    color: white;
    border: 0;
    display: inline-block;
    padding: 5px 15px;
    font-weight: 300;
}

h1 button {
    vertical-align: middle;
    font-size: 1rem;
}

input.ng-invalid {
    background-color: rgb(250, 200, 200);
}

input:disabled {
    background-color: #f5f5f5;
    color: #666;
}


a {
    color: rgb(28, 83, 177);
}

.main {
    padding: 20px;
}

.page-header {
    padding: 1em;
    background: rgb(28, 83, 177) url("../images/ti8m-logo-white.svg") no-repeat 20px 20px;
    background-size: auto 60px;

    height: 100px;
}

/* Contact list */

.contacts-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.card {
    border-radius: 3px;
    padding: 15px;
    margin: 0 15px 15px 0;
    float: left;
    width: 30%;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
    overflow: hidden;
    position: relative;
}

.card h3 {
    font-size: 1em;
    font-weight: 300;
    margin: -15px;
    padding: 10px 15px 10px 75px;
    margin-bottom: 15px;
    background-color: rgba(28, 83, 177, .6);
    color: #fff;
    position: relative;
}
.card img {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(-1);
}

.card a {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.card .footer {
    margin: -15px;
    padding: 5px 15px;
    background-color: #f5f5f5;
}
.card .footer a {
    display: block;
    text-decoration: none;
    color: #333;
}

/* Contact detail */

.side {
    float: left;
    min-width: 120px;
}
.contact-detail {
    float: left;
}


.robo-spin{
    animation: rotateplane 1.7s infinite ease;
}

@keyframes rotateplane {
  0% { 
    transform: scaleX(-1) ;
  } 50% { 
    transform:  scaleX(1) ;
  } 100% { 
    transform:  scaleX(-1) ;
  }
}
